# Core Machine Learning & Vision
torch>=2.0.0
torchvision
numpy
scipy
Pillow
nibabel

# Diffusion & Deep Learning Utilities
einops
ema-pytorch>=0.4.2
accelerate
pytorch-msssim

# Logging & Utils
tqdm
wandb